.section__action>button {
  font-size: 1.4rem;
  padding: 0;
  padding: 1.4rem 1.5625rem;
  line-height: 0;
  margin-left: 5px;
}

.section__title--inline {
  margin-bottom: 4rem;
}

.section__title--inline h1.title {
  margin-bottom: -5px;
}

.section__title--inline h1.title+hr {
  border: 3px solid var(--primary);
  width: 7.5rem;
  border-radius: 5px;
}

.section-reviews .section__title>.title {
  line-height: 5.5rem;
}