.homepage-header {
  width: 100%;
  height: 90vh;
  background-image: url("../../assets/images/header-background.jpg");
  background-size: cover;
}

.section-menu {
  background-image: linear-gradient(to right bottom,
      rgb(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.7)),
    url("../../assets/images/featured-menu-background.jpg");
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  /* background-color: #ffd0909c; */
}

.section__title {
  margin-bottom: 5rem;
}

.section__title>.subtitle {
  margin-top: -4rem;
}

.section-book {
  background-image: linear-gradient(to right bottom, #F29F05, #F28705);
}

.section__action>button {
  font-size: 1.4rem;
  padding: 0;
  padding: 1.4rem 1.5625rem;
  line-height: 0;
  margin-left: 5px;
}

.section__title--inline {
  margin-bottom: 4rem;
}

.section__title--inline h1.title {
  margin-bottom: -5px;
}

.section__title--inline h1.title+hr {
  border: 3px solid var(--primary);
  width: 7.5rem;
  border-radius: 5px;
}

.section-reviews .section__title>.title {
  line-height: 5.5rem;
}