.section {
  padding-top: 10rem;
  padding-bottom: 10rem;
}

.section-footer {
  background-color: rgba(0,0,0, 0.9);
}

.footer__brand > img {
  width: 15rem;
}

.footer__title {
  font-weight: bold;
  letter-spacing: .25rem;
  text-transform: uppercase;
  margin-bottom: 1.5rem;
}

.footer__link {
  list-style-type: none;
}

.footer__link > li > a {
  font-size: 1.4rem;
  font-weight: lighter;
  color: rgba(255,255,255, 0.7);
  letter-spacing: .2rem;
  text-decoration: none;
  line-height: 3rem;
  transition: all .3s;
  /* margin-bottom: 1rem; */
  /* color: var(--light); */
}

.footer__link > li > a:hover {
  color: rgba(255, 255, 255, .4)
}

hr.title-border {
  border: 3px solid var(--primary);
  width: 7.5rem;
  border-radius: 5px;
}