@font-face {
  font-family: "Karla";
  src: url("../../fonts/Karla-VariableFont_wght.ttf");
}

@font-face {
  font-family: "Rubik";
  src: url("../../fonts/Rubik-VariableFont_wght.ttf");
}

body {
  font-family: "Karla";
  font-weight: 400;
  line-height: 1.7;
}

h1 {
  font-size: 7.2rem;
}

h2 {
  font-size: 4.8rem;
}

h3 {
  font-size: 4rem;
}

h4 {
  font-size: 3.2rem;
}

h5 {
  font-size: 2.4rem;
}

h6 {
  font-size: 1.8rem;
}

p.text-lg {
  font-size: 1.7rem;
}

p {
  font-size: 1.6rem;
}

p.text-sm {
  font-size: 1.4rem;
}


.color-primary {
  color: var(--primary);
}

.color-secondary{
  color: var(--secondary);
}

.color-light {
  color: var(--light) !important;
}

.bg-primary-light {
  background-color: var(--primary);
}

.heading-primary {
  font-family: "Rubik";
  text-transform: uppercase;
  line-height: 9rem;
  margin-bottom: 3rem;
}

.title {
  font-family: "Rubik";
  /* font-size: 4.2rem; */
  margin-bottom: 4rem;
}

.subtitle {
  font-size: 1.75rem;
  font-weight: 500;
  color: var(--light-grey);
}

.text-center {
  text-align: center;
}

.text-shadow-sm {
  text-shadow: 2px 3px 15px rgba(0, 0, 0, 0.3);
}