@font-face {
  font-family: "Karla";
  src: url("../../fonts/Karla-VariableFont_wght.ttf");
}

@font-face {
  font-family: "Rubik";
  src: url("../../fonts/Rubik-VariableFont_wght.ttf");
}

body {
  font-family: "Karla";
  font-weight: 400;
  line-height: 1.7;
}