.card {
  border-radius: 3rem;
  padding: 3rem 4rem;
  transition: all ease-in-out .2s;
  display: flex;
  flex-direction: column;  
  flex-basis: calc(33.33% - 3rem);
  align-content: center;
}

.card:hover {
  box-shadow: 32px 32px 46px -8px rgba(0, 0, 0, 0.09);
  -webkit-box-shadow: 32px 32px 46px -8px rgba(0, 0, 0, 0.09);
  -moz-box-shadow: 32px 32px 46px -8px rgba(0, 0, 0, 0.09);
  /* transform: scale3d(1.02, 1.02, 1.02); */
}

.card__image {
  width: 100%;
  overflow: hidden;
  margin-bottom: 3rem;
  text-align: center;
}

.card__image > img {
  width: 80%;
}

.card__content {
  text-align: center;
}

.card__content > .card__title {
  font-family: "Rubik";
  margin-bottom: 1rem;
}

.card__content > .card__text {
  font-size: 1.5rem;
  line-height: 1.4;
}




