
.deal {
  overflow: hidden;
  border-radius: 1rem;
  background-color: white;
  width: 80rem;
  height: 40rem;
  border: 1px solid rgba(0, 0, 0, .1);
  display: flex;
  margin: 0 1.5rem;
}

.deal__img {
  flex: 1 0 40rem;
  height: 40rem;
  overflow: hidden;
}

.deal__img > img{
  width: 100%; 
  transition: all .3s;
}

.deal__img:hover > img{
  /* width: 100%;  */
  transform: scale(1.1);
}

.deal__content {
  padding: 1rem;
  flex-grow: 1;
}

.deal__content {
  padding: 3rem;
}


.deal__content>.deal__category {
  color: var(--light-grey);
  font-size: 2rem;
  font-weight: 100;
}

.deal__content>.deal__title {
  text-transform: capitalize;
  font-family: "Rubik";
  line-height: 4rem;
  font-size: 3rem;
}


.deal__price > s {
  font-size: 1.5rem;
  color: var(--light-grey);
  font-weight: lighter;  
}

.deal__price > span {
  color: var(--primary);
  font-size: 3rem;
}
.deal__content>p.deal__description {
  margin-top: 2rem;
  font-size: 1.6rem;
}