.form-group {
  margin-bottom: 1.5rem;
}

.form-group-two {
  margin: 0 -1.5rem;
  display: flex;
  margin-bottom: 1.5rem;
}

.form-group-two .form-group {
  width: 50%;
  margin: 0 1.5rem;
}



.form-input {
  font-size: 1.6rem;
  font-family: inherit;
  color: inherit;
  border: none;
  /* border: 1px so;/ */
  border: 1px solid rgba(0,0,0,.05);

  padding: 2rem 1.5rem;
  background-color: rgba(255,255,255, 0.6);
  display: block;
  border-radius: 1rem; 
  box-shadow: 0 5px 10px rgba(154, 160, 185, 0.04),
  0 15px 40px rgba(166, 173, 201, 0.2);
  transition: all .2s;
}

.form-input:focus {
  background-color: rgb(245, 245, 245);
  outline: none;
}

input.success {
  border: 1px solid var(--success);
} 

input.error {
  border: 1px solid var(--danger);
}

.form-group > small {
  font-size: 1.4rem;
  color: var(--danger);
  font-weight: bold;
  /* color: red; */
}

.form-label {
  font-size: 1.6rem;
  font-weight: 700;
  margin-bottom: .25rem;
  display: block;
  transition: all 0.3s;
}


