.history {
  display: flex;
  flex-flow: column nowrap;
}

.history__card {
  width: 100%;
  display: flex;
  background-color: white;
}

.history__card > .history__card-content  {
  flex: 0 0 50%;
  padding: 1.5rem;
}

.history__card > .history__card-image {
  flex: 0 0 50%;

}