.menu {
  overflow: hidden;
  /* height: 35rem; */
  margin: 1.5rem;
  border-radius: 1.5rem;
  padding: 3rem;
  background-color: var(--light);
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1 1 0;

  box-shadow: 0 5px 10px rgba(154, 160, 185, 0.05),
  0 15px 40px rgba(166, 173, 201, 0.2);
}

.menu__image {
  width: 13rem;
  height: 13rem;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 2rem;
}

.menu__image > img {
  width: 100%;
}

.menu__content {
  
}

.menu__content > h1 {
  font-family: "Rubik";
  margin-bottom: 3px;
  font-size: 2.4rem;
}

.menu__content > p {
  font-size: 1.4rem;
}

