.menu {
  overflow: hidden;
  margin: 1.5rem;
  border-radius: 1.5rem;
  padding: 3rem;
  background-color: var(--light);
  display: flex;
  flex-direction: column;
  align-items: center;
  
  width: 250px;
  box-shadow: 0 5px 10px rgba(154, 160, 185, 0.05),
  0 15px 40px rgba(166, 173, 201, 0.2);
  transition: all .3s;
}

.menu:hover {
  box-shadow: 0px 2px 5px 5px rgba(255, 255, 255, 0.3);
}

.menu__image {
  width: 16rem;
  height: 16rem;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 2rem;
}

.menu__image > img {
  width: 100%;
}
.menu__content > .menu__content-title {
  font-family: "Rubik";
  margin-bottom: 3px;
}

.menu__content > p {
  font-size: 1.4rem;
}

