.navigation {
  width: 100%;
  padding: 15px 0;
  position: fixed;
  z-index: 999;
  transition: all .2s ease-in-out;
}

#logo_img-mobile {
  display: none;
}

button#navbar-toggle {
  background: none;
  cursor: pointer;
}

.navigation__brand  img {
  width: 15rem;
}

.navigation__menu {
  list-style-type: none;
  display: inline-flex;
}


.navigation__menu > li {
  padding: 0px 3rem;
}

.navigation__menu > li > a {
  text-decoration: none;
  color: white;
  font-size: 1.6rem;
  font-weight: lighter;
  display: inline-block;
}

.navigation__menu > li > a::after {
  content: '';
  display: block;
  width: 0;
  height: 1px;
  background: white;
  transition: width ease-out .3s;
  margin: auto;
}

.navigation__menu > li > a.invert::after {
  background: black;
}

.navigation__menu > li > a:hover::after {
  width: 100%;
}

.navigation__menu>li>a.current::after {
  width: 100%;
}

.nav-offset {
  padding-top: 9rem;
}

.navigation__expand {
  display: none;
  margin-left: 3rem;
  /* padding: 3rem; */
}

.navigation__expand i.fas{
  font-size: 4rem;
  color: black;
}

.navigation__menu-expand {
  list-style-type: none;
  display: none;
  flex-direction: column;
  align-items: center;
}

.navigation__menu-expand>li {
  padding: 3rem 0;
}

.navigation__menu-expand>li>a {
  text-decoration: none;
  color: white;
  font-size: 2.2rem;
  font-weight: lighter;
  display: inline-block;
}

.navigation__menu-expand>li>a::after {
  content: '';
  display: block;
  width: 0;
  height: 1px;
  background: black;
  transition: width ease-out .3s;
  margin: auto;
}

.navigation__menu-expand>li>a.invert::after {
  background: black;
}

.navigation__menu-expand>li>a:hover::after {
  width: 100%;
}

.navigation__menu-expand>li>a.current::after {
  width: 100%;
}