.pagination {
  margin-top: 6rem;
  /* padding: 5rem 0; */
  width: 100%;
  display: flex;
  justify-content: center;
}

button.pagination__number{
  margin: 0 .3rem;
  outline: none;
  border: none;
  cursor: pointer;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  display: table-cell;
  text-align: center;
  font-weight: bold;
  vertical-align: center;
  background-color: white;
  border: 0.1px solid rgba(97, 97, 97, 0.15);
  transition: all .2s;
}

button.pagination__number:hover {
  background-color: rgba(224, 224, 224, 0.349)
}

div.pagination > button.current__page {
  background-color: var(--primary) !important;
  color: white;
  border: none;
}

