.review {
  margin: 1.5rem;
  background-color: rgba(255, 255, 255, 0.6);

  border-radius: 1.5rem;
  box-shadow: 
  0  5px 10px rgba(154,160,185,0.05),
  0 15px 40px rgba(166,173,201,0.2);

  padding: 3rem;
  font-size: 1.8rem;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: space-between;
  flex: 1 1 0;
  transition: all .3s;
}

.review:hover {
  background-color: var(--primary);
  color: var(--light);
}


.review__profile {
  margin-top: 4rem;
  display: flex;
  align-items: center;
}

.review__profile > figure {
  width: 5rem;
  height: 5rem;
  overflow: hidden;
  border-radius: 50%;
  margin-right: 2rem;
}

.review__profile > figure > img {
  width: 100%;
}

