#slide-img1 {
  background-image: url("../../assets/images/slide1.png");
}
#slide-img2 {
  background-image: url("../../assets/images/slide2.png");
}
#slide-img3 {
  background-image: url("../../assets/images/slide3.png");
}

#slideshow-wrapper {
  margin: 1.5rem 0;
  width: 100%;
  height: 60vh;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  /* transition: all .3s; */
}


div#slideshow > div {
  width: 128rem;
  height: 60vh;
  background-position: center;
  background-size: cover;
  float: left;
}